<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="statusBar" id='time'></div>
  <script>
    const changeTime = () => {
      const date = new Date()
      let h = date.getHours()
      let m = date.getMinutes()
      h = h < 10 ? `0` + h : h
      m = m < 10 ? `0` + m : m
      document.getElementById('time').innerHTML = `${h}:${m}`
    }
    // 时间改变
    changeTime()
    setInterval(() => { changeTime() }, 1000 * 30)
  </script>
</body>

</html>